# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=b7b9822137f27b146b97d1515df80c08f6b9f4a7ad9d0f1bd8eadb55df662d3b5b41cd5e1279511c31dd0c5ef097b3c2dbac12ab4494794529a00f0011c7beb8
REDIS_URL=redis://localhost:6379/10
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
